pom.xml
*jar
/lib/
/classes/
/out/
/test_out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

# Swapfiles
*.sw[op]

# Compiled js
*.js

# But not Karma's conf file
!karma.conf.js

# NREPL
.nrepl-port

# logs
.lein-failures
npm-debug.log

# Node modules
node_modules/

# IDEA files for Cursive
*.iml

.idea
