pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

# Swapfiles
*.sw[op]

# Compiled js
*.js

# NREPL
.nrepl-port

# Live eval index
index_lt.html

# logs
.lein-failures
npm-debug.log

# Node modules
node_modules/
